<!-- templates/about/tech.html -->
{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load static %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Технологии
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                <a class="text-muted card-link" href="https://www.youtube.com/watch?v=EcHKmxos2EY" target="_blank">
                    Нажми на кнопку - получишь результат
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
              <div class="row">
                <div class="col-md-12 text-center border border-2 border-bottom-0 border-info rounded-top sty" style="background-color: #e3f2fd;">
                    <h3>Программные инструменты</h3>
                </div>
              </div>
              <div class="row border border-2 border-top-0 border-info rounded-bottom">
                <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
                  <a href="https://www.python.org/" target="_blank" class="text-dark card-link">
                    <figure>
                        <br>
                        <img class="img-fluid" style="max-height: 60px;" src="{% static 'images/python.png' %}">
                        <figcaption><span class="h5">Python3</span></figcaption>
                    </figure>
                  </a>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
                    <a href="https://www.djangoproject.com/" target="_blank" class="text-dark card-link">
                        <figure>
                            <br>
                            <img class="img-fluid" style="max-height: 60px;" src="{% static 'images/django.png' %}">
                            <figcaption><span class="h5">Django</span></figcaption>
                        </figure>
                    </a>
                </div>
                <div class="col-md-4 d-flex justify-content-center align-items-center text-center">
                    <a href="https://www.sqlite.org/" target="_blank" class="text-dark card-link">
                        <figure>
                            <br>
                            <img class="img-fluid" style="max-height: 60px;" src="{% static 'images/sqlite.png' %}">
                            <figcaption><span class="h5">SQLite</span></figcaption>
                        </figure> 
                    </a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 